body{
    overflow-x: hidden;
}
.container1{
    width: 95%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
   
}
.contant1{
    width: 100%;
}
.contant2{
    width: 100%;
}
.imagebox{
    width: 100%;
    margin-right: 0px;
}
.image{
    width: 100%;
    object-fit: cover;
}
.text{
    width: 100%;
    margin-top: 0px;
}
.headingtext1{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    color:brown;
}
.headingtext2{
    width: 100%;
    font-size: 15px;
    color: green;
    margin-bottom: 3px;
}
@media(min-width:768px){
    .container1{
        width: 53%;
        order: 2;
        margin-left: 5%;
    }
    .headingtext1{
        width: 100%;
    }
    .headingtext2{
        width: 100%;
        margin-top: 0px;
    }
    .contant1{
        width: 100%;
        display: flex;
    }
    .contant2{
        width: 100%;
        display: flex;
    }
    .imagebox{
        width: 25%;
        margin-top: 5px;
        margin-right: 10px;
    }
    .text{
        width: 100%;
        font-size: 14px;
        margin-top: 0px;
    }
    .textbox{
        width: 75%;
    }
}
@media(min-width:1024px){
    .container1{
        width: 66%;
    }
    .imagebox{
        width: 12%;
        margin-right: 20px;
    }
    .textbox{
        width: 85%;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .text{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .contant2{
       margin-bottom: 50px;
    }
}