body{
    overflow-x: hidden;
}
.container{
    width: 100%;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 100%;
    margin-top: 20px;
    border: solid 1px #333;
}
.contant{
     width: 95%;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.textbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.text1{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    font-size: 13px;
}
.text2{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-size: 13px;
}
.text3{
    width: 100%;
    text-align: center;
    font-size: 13px;
}
@media(min-width:768px){
    .contant{
        justify-content: space-between;
    }
    .textbox{
        width:50% ;
        margin-top: 0px;
        justify-content: left;
    }
    .text3{
        width: 50%;
        text-align: right;
        margin-top: 10px;
    }
    .text1{
        width: 190px;
        text-align: left;
        margin-top: 10px;
    }
    .text2{
        width: 150px;
        text-align: left;
        margin-top: 10px;
    }
}
