body{
    overflow-x: hidden;
}
.container{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logobox{
    width: 55%;
    box-sizing: border-box;
}
.logo{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.menubox{
    width: 8%;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
@media(min-width:768px){
    .menubox{
        display: none;
    }
    .logobox{
        width: 23%;
    }
    .container{
        justify-content: space-between;
    }
}
@media(min-width:1024px){
     .logobox{
         width: 15%;
     }
}